.homePage {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #022B3A;
    padding-top: 15px;
    justify-content: center;
}

#title {
    margin-left: 1px;
    margin-right: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E1E5F2;
    font-size: 3vh;
}

.gameButton {
    margin: auto;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    background-color: #022B3A;
    color: #BFDBF7;
    border: 1px solid #BFDBF7;
    padding: 1.5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 6px 6px #1F7A8C;
}

.gameButton:hover {
    background-color: #1F7A8C
}

.gameButton:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px #1F7A8C;
}

#instructions {
    display: block;
    margin: auto;
}

#introImage {
    max-height: 35vh;
    ;
}

@media (max-width: 500px) {
    #title {
        margin-left: 2px;
        margin-right: 2px;
        font-size: 2.1vh;
    }

    .gameButton {
        font-size: 2.4vh;
    }
}