.key {
    display: grid;
    place-items: center;
    width: 5vh;
    height: 5vh;
    margin: 5px;
    font-size: 1.4vh;
    font-weight: bold;
    background-color: #1F7A8C;
    color: #E1E5F2;
    font-family: 'Arial';
    cursor: pointer;
}

#green {
    background-color: green;
}

#yellow {
    background-color: rgb(149, 154, 0);
}

#disabled {
    background-color: #00080b;
    color: #1F7A8C;
}

#large {
    width: 8vh;
}

@media (max-width: 500px) {
    .key {
        width: 7vw;
        height: 5vh;
        margin: 3px;
        font-size: 12px;
    }

    #large {
        width: 6vh;
    }
}