.board {
    height: 60vh;
    border: 1px solid #BFDBF7;
    display: flex;
    flex-direction: column;
    top: 0;
    padding: 0;
}

.row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}

@media (max-width: 500px) {
    .board {
        height: 55vh;
    }
}