.keyboard {
    padding-top: 10px;;
}

.keyboardRow {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex: 33%;
    margin: 10px;
    padding-top: 10px;;
}

@media (max-width: 500px) {
    .keyboard {
        width: 100vw;
    }

    .keyboardRow {
        margin:2px;
        padding-top: 1vh;
    }
}