.letter {
    flex: 33%;
    height: 50px;
    border: 1px solid grey;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#grey {
    background-color: #36343a;
}