.letter {
    flex: 100%;
    height: 5vh;
    width: 5vh;
    border: 1px solid #BFDBF7;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 40px;
    font-weight: 800;
    color: #E1E5F2;
    font-family: Arial;
}

#green {
    background-color: green;
}

#yellow {
    background-color: rgb(149, 154, 0);
}

#grey {
    background-color: #36343a;
}

@media (max-width: 500px) {
    .letter {
        margin: 1px;
        font-size: 25px;
    }
}